<main>
    <h1>Lisicalc</h1>
    <h4>- Calculateur de scores de lisibilité -</h4>
    <br>
    
    <p>
        Les scores de lisibilité sont des indicateurs qui permet d'évaluer la difficulté de lecture d'un texte.
        Il en existe plusieurs, chacun ayant ses propres critères de calcul.</p>
    <p>
        Cette application permet le calcul de sept scores de lisibilité :
        LIX, RIX, Automated Readability Index (ARI), Gunning Fog index, Coleman-Liau index,
        Flesch-Kincaid Grade Level (FKGL), Simple Measure of Gobbledygook index (SMOG).
        Ces indices ont pour la plupart été inventés pour mesurer la lisibilité de textes anglais,
        à l'exception de l'indice suédois LIX. Ce dernier est sans doute le plus efficace pour donner une mesure juste
        de
        la difficulté d'un texte français.
    </p>
    <p>
        Dans tous les cas, un texte sera considéré comme étant aisément lisible par un lecteur moyen
        s'il relève d'un niveau de difficulté "Intermédiaire" (cela correspond au niveau d'un élève de 3e) ou
        inférieur ("Facile", "Très facile").
    </p>
    <p>
        Pour calculer le score de lisibilité d'un texte, il vous suffit de le saisir dans la zone de texte ci-dessous,
        le coller
        depuis votre presse-papier ou de l'importer depuis un fichier.
    </p>
</main>