<div class="lexiquetemain">
  <h1>LexiQuête</h1>
  <br>

  <!-- Importer le texte -->
  <div *ngIf="currentStep === 1">
    <br>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary" id="btncoller" (click)="Paste()">Coller</button>
      </div>
      <div class="col">
        <div class="mb-3">
          <input class="form-control mx-auto" type="file" id="formFile" (change)="FileInput($event)"
            accept=".txt,.docx,.odt" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-floating">
        <div class="col text-center">
          <textarea class="form-control" placeholder="Collez ou importez un texte de moins de 1000 mots..." id="text"
            style="height: 200px" [(ngModel)]="text" (input)="updateText($event)"></textarea>
        </div>
      </div>
    </div>
    <br>
    <div class="text-center" [ngClass]="{'text-danger': numberWords > 500}">
      Nombre de mots : {{ numberWords }}
    </div>
    <br>
  </div>

  <!-- Marquer les mots inconnus -->
  <div *ngIf="currentStep === 2">
    <div class="d-flex flex-wrap gap-1 mx-5">
      <ng-container *ngFor="let word of clickableWords; let i = index">
        <span *ngIf="!isPunctuation(word)" class="clickable-word"
          [ngClass]="{'selected-word': isSelected(word, i)}" (click)="onWordClick(word, i)">
          {{ word }}
        </span>
        <!-- Eviter que des espaces soient mis entre dernière lettre et point, virgule... -->
        <span *ngIf="isPunctuation(word)" class="clickable-word"
          [ngClass]="{'selected-word': isSelected(word, i)}" (click)="onWordClick(word, i)"
          style="margin-left: -0.25em">
          {{ word }}
        </span>
      </ng-container>
    </div>
  </div>

  <!-- Étape 3 -->
  <div *ngIf="currentStep === 3">
    <h5>Étape 3 : Résultats</h5>
    <p>Voici une description de la troisième étape du processus.</p>
  </div>

  <!-- Boutons de Navigation -->
  <div class="row mt-3">
    <div class="col-12 d-flex" [ngClass]="{'justify-content-center': isSingleButton(), 'justify-content-between': !isSingleButton()}">
      <button *ngIf="currentStep !== 1" type="button" class="btn btn-secondary" (click)="previousStep()">
        Retour
      </button>
      <button type="button" class="btn btn-primary" (click)="nextStep()" 
              [disabled]="currentStep === 1 && text.trim() === '' || numberWords > 1000">
        Suivant
      </button>
    </div>
  </div>
</div>