<div class="lexiquetemain">
  <h1 [hidden]="currentStep > 1">LexiQuête</h1>
  <br>

  <!-- Importer le texte -->
  <div *ngIf="currentStep === 1">
    <h4 class="text-center">Importez votre texte et appuyez sur suivant pour commencer...</h4>
    <br>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary" id="btncoller" (click)="Paste()">Coller</button>
      </div>
      <div class="col">
        <div class="mb-3">
          <input class="form-control mx-auto" type="file" id="formFile" (change)="FileInput($event)"
            accept=".txt,.docx,.odt" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-floating">
        <div class="col text-center">
          <textarea class="form-control" placeholder="Collez ou importez un texte de moins de 1000 mots..." id="text"
            style="height: 200px" [(ngModel)]="text" (input)="updateText($event)"></textarea>
        </div>
      </div>
    </div>
    <br>
    <div class="text-center" [ngClass]="{'text-danger': numberWords > 500}">
      Nombre de mots : {{ numberWords }}
    </div>
    <br>
  </div>

  <!-- Repérer les mots inconnus -->
  <div *ngIf="currentStep === 2">
    <div class="text-center fs-5 mb-4 bg-primary text-white">
      <p>Lisez une première fois le texte et marquez les mots dont vous ne connaissez pas le sens en les cliquant.</p>
    </div>
    <div class="d-flex flex-wrap gap-1 mx-2 fs-5">
      <ng-container *ngFor="let word of clickableWords; let i = index">
        <span *ngIf="!isPunctuation(word)" class="clickable-word" [ngClass]="{'selected-word': isSelected(word, i)}"
          (click)="onWordClick(word, i)">
          {{ word }}
        </span>
        <!-- Eviter que des espaces soient mis entre dernière lettre et point, virgule... -->
        <span *ngIf="isPunctuation(word)" class="clickable-word" [ngClass]="{'selected-word': isSelected(word, i)}"
          (click)="onWordClick(word, i)" style="margin-left: -0.25em">
          {{ word }}
        </span>
      </ng-container>
    </div>
  </div>

  <!-- Remplacer les mots schtroumpfés -->
  <div *ngIf="currentStep === 3">
    <div class="text-center fs-5 mb-4 bg-primary text-white">
      <p>Les mots choisis ont été schtroumphés ! Relisez le texte et essayez de deviner 
        leur sens. Cliquez sur eux pour les remplacer par un mot de votre choix en fonction
        du contexte.
      </p>
    </div>
    <div class="d-flex flex-wrap gap-1 mx-2 fs-5">
      <ng-container *ngFor="let word of schtroumpfClickableWords; let i = index">
            <!-- Vérifie si le mot est sélectionné -->
            <span *ngIf="!isNotSchtroumpfedWord(word)" class="clickable-word" [ngClass]="{'schtroumpfWords': !isNotSchtroumpfedWord(word)}"
                (click)="onWordClick(word, i)">
                {{ word }}
            </span>
            <!-- Affiche les mots non sélectionnés sans les rendre cliquables -->
            <span *ngIf="isNotSchtroumpfedWord(word)" class="non-clickable-word">
                {{ word }}
            </span>
        </ng-container>
    </div>
  </div>

  <!-- Boutons de Navigation -->
  <div class="row mt-3">
    <div class="col-12 d-flex"
      [ngClass]="{'justify-content-center': isSingleButton(), 'justify-content-between': !isSingleButton()}">
      <button *ngIf="currentStep !== 1 && currentStep !== 3" type="button" class="btn btn-secondary" (click)="previousStep()">
        Retour
      </button>
      <button type="button" class="btn btn-primary" (click)="nextStep()"
        [disabled]="(currentStep === 1 && text.trim() === '' || numberWords > 1000) 
        || (currentStep === 2 && selectedWords.length === 0)">
        Suivant
      </button>
    </div>
  </div>
</div>