<div class="lexiquetemain">
  <h1>LexiQuête</h1>
  <br>

  <!-- Étape 1 -->
  <div *ngIf="currentStep === 1">
    <br>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary" id="btncoller" (click)="Paste()">Coller</button>
      </div>
      <div class="col">
        <div class="mb-3">
          <input class="form-control mx-auto" type="file" id="formFile" (change)="FileInput($event)"
            accept=".txt,.docx,.odt" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-floating">
        <div class="col text-center">
          <textarea class="form-control"
            placeholder="Collez ou importez un texte de moins de 1000 mots..." id="text"
            style="height: 200px" [(ngModel)]="text" (input)="updateText($event)"></textarea>
        </div>
      </div>
    </div>
    <br>
    <div class="text-center" [ngClass]="{'text-danger': numberWords > 500}">
      Nombre de mots : {{ numberWords }}
    </div>
    <br>
  </div>

  <!-- Étape 2 -->
  <div *ngIf="currentStep === 2">
    <div class="d-flex flex-wrap gap-2">
      <p
          *ngFor="let word of clickableWords"
          class="clickable-word"
          [ngClass]="{'selected-word': selectedWords.includes(removePunctuation(word))}"
          (click)="onWordClick(word)"
      >
          {{ word }}
      </p>
  </div>
  </div>

  <!-- Étape 3 -->
  <div *ngIf="currentStep === 3">
    <h5>Étape 3 : Résultats</h5>
    <p>Voici une description de la troisième étape du processus.</p>
  </div>

  <!-- Boutons de Navigation -->
  <div class="row mt-4">
    <div class="col-12 d-flex justify-content-between">
      <button type="button" class="btn btn-secondary" (click)="previousStep()" [disabled]="currentStep === 1">
        Précédent
      </button>
      <button type="button" class="btn btn-primary" (click)="nextStep()"
        [disabled]="currentStep === 1 && text.trim() === '' || numberWords > 1000 ">
        Suivant
      </button>
    </div>
  </div>
</div>