.lexiquetemain{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1{
    text-align: center;
}

.text-danger {
    color: red;
    font-weight: bold;
  }


  .clickable-word {
    cursor: pointer;
    color: black; 
    transition: color 0.3s ease;
    display: inline-block;
    margin-left: 0;
    word-spacing: 0;
}


.clickable-word:hover {
    text-decoration:none;
}

.selected-word {
    color: blue;
    font-weight: bold;
    display: inline-block;
}

.text{
    
    display: inline-block;
}

.schtroumpfWords{
    
    color: #1935eb;
    font-weight: bold;
    
}