<main>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let app of applications">
      <div class="card h-100">
        <div class="card-header">
          {{ app.title }}
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ app.title }}</h5>
          <p class="card-text">{{ app.description }}</p>
          <div class="mt-auto">
            <a [routerLink]="app.routerLink" [class]="app.buttonClass" class="btn">
              {{ app.buttonText }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>