<main>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Lecture
          </div>
          <div class="card-body">
            <h5 class="card-title">LisiCalc</h5>
            <p class="card-text">
              Calculateur de scores de lisibilité.
            </p>
            <a routerLink='/lisicalc' class="btn btn-primary">Lancer</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            Vocabulaire
          </div>
          <div class="card-body">
            <h5 class="card-title">?</h5>
            <p class="card-text">
              En cours de développement.
            </p>
            <a routerLink='' class="btn btn-primary">Lancer</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            Brouillon
          </div>
          <div class="card-body">
            <h5 class="card-title">?</h5>
            <p class="card-text">
              En cours de développement.
            </p>
            <a routerLink='' class="btn btn-primary">Lancer</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>